<div class="span12" ng-controller="Game">
  <div class="row">
    <div class="span8">
      <h1>Fight: {{ game.player1 }} (x) vs {{ game.player2 }} (o)</h1>

      <table class="table table-bordered">
        <tr ng-repeat="line in field track by $index">
          <td ng-repeat="c in line track by $index"
              ng-click="put($parent.$index, $index)"
              ng-class="{usedx: c === 'x', usedo: c === 'o'}"
              ng-bind-html-unsafe="nbspMaybe(c)">
          </td>
        </tr>
      </table>
    </div>

    <div class="span4" ng-include="'info.html'"></div>
  </div>
</div>
