table.table {
    table-layout: fixed;
}

.table td {
    width: 30px;
    max-width: 30px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.table td.usedx {
    background-color: gray;
}

.table td.usedo {
    background-color: yellow;
}

.active {
    color: red;
}

.well > form.form-inline {
    margin-bottom: 0;
}
