table.table {
    table-layout: fixed;
}

.table td {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.table td.usedx {
    background-color: gray;
}

.table td.usedo {
    background-color: yellow;
}
